name: CI
on:
  pull_request:
  push:
    branches: [ main, Development, "feature/**", "user-story-**" ]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install "pydantic[email]" passlib[bcrypt] pyjwt uvicorn fastapi pandas pytest pytest-cov

      - name: Run tests
        run: |
          pytest -q --maxfail=1 --disable-warnings --cov=app --cov-report=xml:../evidence/coverage.xml

      - name: Upload coverage.xml
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: evidence/coverage.xml
